*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background.png);
    font-size: 18px;
    font-family: 'Hind Vadodara', sans-serif;
    color: hsl(0,0%,75%);
}
#container{
    /* display: flex; */
    text-align: justify;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    background-color: rgb(18, 18, 112, 0.8);
    -webkit-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.75);
    padding: 30px;
    /* flex-wrap: wrap; */
/* Add the blur effect */
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);

}


article{
    font-size: 23;
}
#wrapper{
    min-height:calc(100% - 50px);
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}
h2{
    font-size: 38px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

h1{
    margin-left: 20px;
}

#logo{
    margin-bottom: 20px;
}

body > footer{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #0A0664;
    margin-top: 30px;
}

body > footer > p{
    text-align: center;
    font-size: 16px;

}
main> aside {
    text-align: center;
}
main > section {
    margin-right: 50px;
    /* flex-grow: 2; */
}
main{
    display: flex;
}
article>section{
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
}
.item{
    transition: transform 0.3s ease-in-out;
    text-align: center;   
}
.item > a {
    text-decoration: none;
    color: hsl(0,0%,75%);;
}
.item:hover{
 transform: scale(1.15);
}
ol > li {
    float: left;
    width: 150px;
    border-right: purple dashed 2px;
    height: 50px;
    padding: 10px 0;
}
ol a{
    text-decoration: none;
    color: hsl(0,0%,75%);
}
ol:hover a{
    color: whitesmoke;
}
ol > li:first-child{
    border-left: purple dashed 2px;
}

ol > li:hover {
    background-color: rebeccapurple;
    border-bottom: purple dashed 2px;
    border-top: purple dashed 2px;
    color: whitesmoke;
}
ol{
    height: 50px;
    list-style-type: none;
    display: inline-block;
    line-height: 200%;
    margin: 0;
    font-size: 18px;
    padding: 0;
}
ol > li > ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: none;
}
ol > li > ul > li {
    position: relative;
    z-index: 100;
    width: 150px;
    background-color: rebeccapurple;
    border-top:purple dashed 2px;
}
ol > li > ul > li:hover {
    background-color: darkblue;
}
ol > li:hover > ul{
    display: block;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(30, 0, 130, 0.7);
    /* Add the blur effect */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center;
    height: 50px;
    margin: 0px 0;
  }
  nav {
    display: flex;
    justify-content: space-around;
   
}

nav > a {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 30px;
    color: hsl(0,0%,75%);
}
#container >article:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}
#container >article> footer{
    display: flex;
    justify-content: flex-end;
}
#container >article> footer> a{
    color: white;
    padding: 20px;
   
    text-decoration: none;
}
#container > article >footer> a:hover{
color: purple;
}

/*dla telefonów*/
@media screen and (max-width: 600px) {
    #wrapper {
        margin: 0;
    }
    #container {
        width: 100%;
        margin: 0;
    }
    #logo{
        margin-left: 25px;
    }
}
